body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
/* .story-wrapper {
  display: flex;
  justify-content: space-evenly;
} */

.container {
  width: 80%;
  margin: 30px auto;
}
.ml-10 {
  margin-left: 7px;
}
.mt40 {
  margin-top: 40px;
}
td, th {
  padding: 10px;
}
table {
  border-collapse: collapse;
}